*.class
*.html
*.css
*.log*
*.iml
*.jar
*.jardesc
/.settings
/derbyDB
/project
package-list
hadoop.err
hadoop.out
hadoop.*
run*
class-use
index-files
producer/.project
consumer/.project
/.project
/.idea
producer/.idea
consumer/.idea
/.classpath
/build/
/bin/
/lib/
/target/
producer/target/
consumer/target/
/ncdc_output
